.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  text-decoration: none;
  color: #FFFFFF;
  margin-left: 18px;
  text-align: right;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 320px) and (max-width: 760px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
