.header {
max-width: 1184px;
width: 90%;
margin: 0 auto;
padding: 28px 48px 56px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
}


@media screen and (max-width: 1024px) {
    .header {
        max-width: 928px;
        padding-bottom: 48px;
    }
}


@media screen and (max-width: 768px) {
    .header {
        max-width: 720px;
        padding-bottom: 48px;
    }
}


@media screen and (min-width: 320px) and (max-width: 425px) {
    .header {
        max-width: 288px;
        padding: 16px 16px 48px;
    }
}