.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
  margin: 0;
  position: absolute;
  top: 2px;
  right: 0;
 }

 
@media screen and (max-width: 320px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    position: unset;
    margin-top: 48px;
    padding-bottom: 24px;
    min-width: 186px;
  }
}