.place {
  display: grid;
  grid-template-columns: 464px 484px;
  grid-template-rows: 152px fit-content(460px);
  gap: 40px 48px;
  padding: 0;
  margin-top: 80px;
  width: 984px;
}

@media screen and (max-width: 1024px){
  .place {
    width: 928px;
    grid-template-columns: 440px 456px;
    grid-template-rows: 152px fit-content(440px);
    gap: 32px 48px;
  }
}


@media screen and (max-width: 768px){
  .place {
    width: 720px;
    grid-template-columns: 340px 352px;
    grid-template-rows: 92px fit-content(340px);
    gap: 28px 48px;
  }
}


@media screen and (max-width: 320px){
  .place {
    width: 320px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
}