.footer {
  max-width: 1184px;
  padding: 92px 48px 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 186px;
    min-height: 310px;
    padding: 64px 0 24px;
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    margin-left: 0;
    padding-left: 16px;
  }
}
